<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">Fiseek</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/teachers-schedule">Maestros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/classrooms-schedule">Salones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/subjects-schedule">Materias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/advises">Asesorias</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <p></p>

  <!-- Services -->
  <section class="page-section" id="services">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Asesorias Disponibles</h2>
          <h3 class="section-subheading text-muted">Enterate sobre las ultimas asesorias</h3>
        </div>
      </div>

      <p></p>

      <div class="row text-cente">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Ambiente y Sustentabilidad</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.C. Carlos Alberto Porras Mata</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MIERCOLES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong> M4-M5-M6</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong> 3er Piso CIDET</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->


        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Ambiente y Sustentabilidad</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.C. MónicaAlejandra Mireles Cano</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong> M5</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong> Subdirección Académica, 3er Piso, Edificio 2</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Ambiente y Sustentabilidad</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.C. MaríaMagdalena Ramos Granados</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> JUEVES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong> M6</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong> Lab. Fis I, 1er Piso, Edificio6</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Ambiente y Sustentabilidad</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.A. Sergio Enrique Garduño Guerrero</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> MARTES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong> M4-M5-M6</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>CCPI</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Ambiente y Sustentabilidad</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.A. Karla Janeth HernándezCastillo</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MIERCOLES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong> V2</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Oficinas de la Coordinación FOGU,3er Piso Edificio6</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Ambiente y Sustentabilidad</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.C. Elisa Janeth Garza Martínez</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MIERCOLES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong> M5-V1-V2-V3</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Oficinas de la Coordinación FOGU,3er Piso Edificio 6</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Antropología Social</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">Dra. Brenda Maribel Barrientos González</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MIERCOLES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong> M3-M4-V1-V2</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Oficinas de la Coordinación FOGU,3er Piso Edificio 6</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Aplicación de las tecnologías de la información</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.C. MónicaAlejandra Mireles Cano</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong> M5</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Subdirección Académica, 3er Piso, Edificio 2</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Aplicación de las tecnologías de la información</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">Lic. Selma GómezIruegas</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MIERCOLES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong> V1</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Oficina de Coordinaciónde Tutorías,2do Piso Edificio 9 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Aplicación de las tecnologías de la información</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.C. Elisa Janeth Garza Martínez</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MIERCOLES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong> M5-V1-V2-V3</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Oficinas de la Coordinación FOGU,3er Piso Edificio 6 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Aplicación de las tecnologías de la información</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.A. Karina Vega García</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MIERCOLES-JUEVES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong> V2-V3</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Oficinas de la Coordinación FOGU,3er Piso Edificio 6 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Apreciación de las artes</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.C. MónicaAlejandra Mireles Cano</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong> M5</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Subdirección Académica, 3er Piso, Edificio 2 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Apreciación de las artes</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.A. Carmen Julia Luna Peña</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MIERCOLES-JUEVES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong> M2-M3-M4-M5-M6-V1-V2</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Oficinas de la Coordinación FOGU,3er Piso Edificio6 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Apreciación de las artes</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.E.S. Christopher Isis George Zúñiga</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MIERCOLES-JUEVES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong> V1-V2-V3</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Oficina de control Administración de Posgrado,2do Piso CIDET </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Apreciación de las artes</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">Dra. Brenda Maribel Barrientos González</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MIERCOLES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong> M3-M4-V1-V2</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Oficinas de la Coordinación FOGU,3er Piso Edificio6 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Apreciación de las artes</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.T.S. Rosalinda Cepeda Álvare</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MARTES-MIERCOLES-JUEVES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong> M1-M2-M3-M4-V1</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Oficinas de la Coordinación FOGU,3er Piso Edificio6 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Apreciación de las artes</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.A. Alpha Iris Estrada Carvajal</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MIERCOLES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong> N4-N5</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Oficinas de la Coordinación FOGU,3er Piso Edificio6 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Apreciación de las artes</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.A. Roxana Colunga Jaime</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MIERCOLES-JUEVES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong> V2-V3</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Oficinas de la Coordinación FOGU,3er Piso Edificio6 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Apreciación de las artes</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.C. Cynthia Ocañas Galván</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MARTES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong> M3-V1</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Oficinas de la Coordinación FOGU,3er Piso Edificio6 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Apreciación de las artes</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.C. Cynthia Ocañas Galván</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MIERCOLES-JUEVES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong> V2-V3</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Oficinas de la Coordinación FOGU,3er Piso Edificio6 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Apreciación de las artes</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.C. Gloria E. Barocio Pedraza</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MARTES-MIERCOLES-JUEVES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong> V1-V2-V5-V6</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Oficinas de la Coordinación FOGU,3er Piso Edificio6 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Competencia Comunicativa</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">Dra. Brenda Maribel Barrientos González</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MIERCOLES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong> V1-V2-M3-M4</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Oficinas de la Coordinación FOGU,3er Piso Edificio6 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Competencia Comunicativa</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.A. Roxana Colunga Jaime</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MIERCOLES-JUEVES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong> V1-V2-V3</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Oficinas de la Coordinación FOGU,3er Piso Edificio6 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Competencia Comunicativa</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.C. Esther DíazRamírez</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MARTES-MIERCOLES-JUEVES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong> M3-M4-M5-M6-V1</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Oficinas de Coordinación General de Relaciones Publicas, 1er Piso, Edificio 11 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Competencia Comunicativa</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.A. Silvia Eugenia Córdova Urbiola</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MIERCOLES-JUEVES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong>V4-V5-V6</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Sala de juntas FOGU</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Competencia Comunicativa</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.A. Karina Vega García</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MIERCOLES-JUEVES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong>V2-V3</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Oficinas de la Coordinación FOGU,3er Piso Edificio 6</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Competencia Comunicativa</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">Lic. Selma Gómez Iruegas</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MIERCOLES-JUEVES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong>V1</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Oficina de Coordinación de Tutorías,2do Piso Edificio 9</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Contexto Social de la Profesión</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.C. Guillermo Roberto Rossano Pérez</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MIERCOLES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong>M5</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Oficina CCPI, 2do piso</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Contexto Social de la Profesión</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.A. Carmen Julia Luna Peña</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MARTES-MIERCOLES-JUEVES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong>M2-M3-M4-M5-M6-V1-V2</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Oficinas de la Coordinación FOGU,3er Piso Edificio 6</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Contexto Social de la Profesión</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">Felipe de Jesús Rivera Viezcas</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> JUEVES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong>N1-N2-N3</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Sala 3er Piso Edificio 6</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Contexto Social de la Profesión</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.T.S. Rosalinda Cepeda Álvarez</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MARTES-MIERCOLES-JUEVES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong>M1-M2-M3-M4-M5-V1</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Oficinas de la Coordinación FOGU,3er Piso Edificio6 </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Contexto Social de la Profesión</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.C. Cynthia Ocañas Galván</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MARTES-MIERCOLES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong>M3-V1</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Oficinas de la Coordinación FOGU,3er Piso Edificio 6</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Contexto Social de la Profesión</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.C. Neydi Gabriela Alfaro Cázares</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MIERCOLES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong>V5-V6-N1</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>SubdirecciónAcadémica, 3er Piso, Edificio2</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Cultura de Calidad</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">Dra. María Isabel Dimas Rangel</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MIERCOLES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong>V1</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Coordinación de Planeación Académica</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Cultura Inglesa</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.C. Guillermo Roberto Rossano Pérez</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MIERCOLES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong>M5</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Oficina CCPI, 2do piso</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Cultura Inglesa</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.E.S. Christopher Isis George Zúñiga</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MIERCOLES-JUEVES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong>V1-V2-V3</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Oficina de control Administración de Posgrado,2do Piso CIDET</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Cultura Inglesa</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.E.S. Christopher Isis George Zúñiga</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MIERCOLES-JUEVES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong>V1-V2-V3</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Oficina de control Administración de Posgrado,2do Piso CIDET</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Cultura Regional</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.E.S. Christopher Isis George Zúñiga</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MIERCOLES-JUEVES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong>V1-V2-V3</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Oficina de control Administración de Posgrado,2do Piso CIDET</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Cultura Regional</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.C. Gloria E. Barocio Pedraza</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MARTES-MIERCOLES-JUEVES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong>V1-V2-V5-V6</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Oficina de control Administración de Posgrado,2do Piso CIDET</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Ética, Sociedad y Profesión</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.C. Guillermo Roberto Rossano Pérez</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MIERCOLES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong>M5</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Oficina CCPI, 2do piso</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Ética, Sociedad y Profesión</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.A. Leticia G. Guajardo Balderas</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MIERCOLES-JUEVES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong>V6</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Coordinación de Tutorías,2do Piso Edificio 9</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Ética, Sociedad y Profesión</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.A. Silvia Eugenia Córdova Urbiola</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MIERCOLES-JUEVES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong>V4-V5-V6</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Sala de juntas FOGU</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Ética, Sociedad y Profesión</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.C. Neydi Gabriela Alfaro Cazares</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MIERCOLES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong>V5-V6-N1</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Subdirección Académica, 3er Piso, Edificio 2</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Formación de emprendedores</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.A. Sergio Enrique Garduño Guerrero</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> MARTES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong>V4-V5-V6</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Oficinas de la Coordinación FOGU,3er Piso Edificio6</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Formación de emprendedores</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.A. Karla Janeth Hernández Castillo</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MIERCOLES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong>V2</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Oficinas de la Coordinación FOGU,3er Piso Edificio6</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Formación de emprendedores</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.A. Roxana Colunga Jaime</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MIERCOLES-JUEVES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong>V1-V2-V3</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Oficinas de la Coordinación FOGU,3er Piso Edificio6</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Metodología Científica</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.C. Carlos Alberto Porras Mata</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MIERCOLES-JUEVES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong>M3-M4-M5-M6</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>3er Piso CIDET</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Metodología Científica</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.C. Carlos Alberto Porras Mata</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MIERCOLES-JUEVES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong>M3-M4-M5-M6</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>3er Piso CIDET</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Metodología Científica</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.C. Edgar Fernando Arroyo Reyna</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MIERCOLES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong>M4-M5-M6</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Coordinación de Formación General Universitaria</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Metodología Científica</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">Dra. Nivia Tomasa ÁlvarezAguilar</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MARTES-MIERCOLES-JUEVES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong>M5-M6-V2-V4</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Cubículo 76 1er Piso CIDET</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Pensamiento Creativo</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.C. Ivonne Marlene Mata Barrios</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MIERCOLES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong>M3</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Oficinas de la Coordinación FOGU,3er Piso Edificio6</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Pensamiento Creativo</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.A. Alpha Iris Estrada Carvajal</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MIERCOLES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong>N4-N5</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Oficinas de la Coordinación FOGU,3er Piso Edificio6</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Pensamiento Creativo</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.A. Karla Janeth HernándezCastillo</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MIERCOLES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong>V2</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Oficinas de la Coordinación FOGU,3er Piso Edificio6</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Programa de Ingeniero Emprendedor</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.C. MaríaBlanca E. Palomares Ruiz</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> MIERCOLES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong>V3-V4</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Oficinas de Coordinación de Certificación,2do Piso , CIDET</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="card-margin">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h4 text-xl font-weight-bold text-success text-uppercase md-1"> Psicología y Desarrollo Profesional</div>
                                <div class="h5 md-0 font-weight-bold text-gray-800">M.C. Ivonne Marlene Mata Barrios</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Dias:</strong> LUNES-MIERCOLES-VIERNES</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Horario:</strong>M3</div>
                                <div class="h6 md-0 font-weight-normal text-gray-800"><strong>Lugar:</strong>Oficinas de la Coordinación FOGU,3er Piso Edificio6</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Earnings (Monthly) Card Example -->
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; Fiseek 2020</span>
        </div>
    
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/agency.min.js"></script>

</body>