<body id="page-top">

  <script src="https://unpkg.com/brain.js@1.6.0/browser.js"></script>
  <script src="js/nn3.js"></script>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Fiseek</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/teachers-schedule">Maestros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/classrooms-schedule">Salones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/subjects-schedule">Materias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/advises">Asesorias</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">Bienvenido a FISEEK!</div>
        <div class="intro-heading text-uppercase">Make your
          search
          faster than light</div>
          <div class="container ">
            <div class="row align-items-center justify-content-center">
              <form id="smartSearch" class="col-md-6 justify-content-center" action="" method="GET">
                <input id="inputBox" style="text-align:center" class="form-control mb-2" type="text" name="search" placeholder="Buscar" aria-label="Search" value="">
                <input class="btn btn-primary btn text-uppercase js-scroll-trigger" type="button" value="Buscar" onclick="searchBox()"></input>
              </form>
            </div>
          </div>
      </div>
    </div>
  </header>

  <!-- Funciones -->
  <section class="page-section" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Funciones</h2>
          <h3 class="section-subheading text-muted">Estas son algunas de las funciones con las que cuenta esta página:</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-mug-hot fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Maestros</h4>
          <p class="text-muted">Encuentra el horario de cualquier maestro.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-school fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Salon</h4>
          <p class="text-muted">Descubre que clases se dan en determinado salon.</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-book fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Asesorias</h4>
          <p class="text-muted">¿Necesitas ayuda con una materia? Consulta las distintas asesorias disponibles</p>
        </div>
      </div>
    </div>
  </section>

  <!-- About -->
  <section class="page-section" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Sobre Nosotros</h2>
          <h3 class="section-subheading text-muted"> <p>Justificación</p> 
            <p>La realización del proyecto permitirá facilitar al alumnado encontrar una hora en la cual puedan encontrar a un docente, o consultar los distintos horarios de asesorías, sin la necesidad de trasladarse o tener que buscarlo a lo largo del campus. El proyecto permitirá a maestros tener una breve descripción en su perfil, para dar mensajes o avisos a sus alumnos de una manera sencilla. El proyecto de igual manera permitirá reducir los distintos gastos generados por la impresión de carteles para la promoción de las asesorías de clase.
            </p>
            <p>
            <p>Objetivo</p>
            Generar una plataforma que conecte al alumnado con el docente y les permita una búsqueda de información confiable que permita una comunicación segura, sencilla y rápida, a través de la utilización de herramientas web.
          </p>
          <p>
            <p>Busquedas</p>
            Ingrese a la sección de búsqueda e introduzca el término de su preferencia, puede ser un maestro en específico, un salón, o materia deseada en el cuadro de búsqueda. Presioné el botón de buscar y observe los resultados
          </p>
            </h3>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <span class="copyright">Copyright &copy; Fiseek 2020</span>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/agency.min.js"></script>


  <!-- SMART SEARCH-->
  <script>
    function searchBox() {
      var inputTextBox = document.getElementById("inputBox").value;
      if( inputTextBox != "") {
        var resSmartFunction = evaluar(inputTextBox);
        console.log(resSmartFunction);
        if( resSmartFunction == "Nombre" ) { // Maestro 
          document.getElementById("smartSearch").action = "teachers-schedule";
          document.getElementById("smartSearch").submit();
        } 
        else if( resSmartFunction == "Materia" ) { // Materia 
          document.getElementById("smartSearch").action = "subjects-schedule";
          document.getElementById("smartSearch").submit();
        }
        else if( resSmartFunction == "Salon" ) { // Maestro 
          document.getElementById("smartSearch").action = "classrooms-schedule";
          document.getElementById("smartSearch").submit();
        }
      }
    }
  </script>


  <style>
    @media (min-width:992px){
      #mainNav .navbar-brand{
        font-size:2em
      }
    }
  </style>

</body>